<div>
  <div>
    {{input value=newFeature placeholder="new Feature name"}}
  </div>
  <div>
    <button {{action 'createFeature' }} >create new feature</button>
  </div>

   <ul>
     {{#each model as |feature|}}
       <li>
         {{#link-to "test" feature}}
           {{feature.name}}
         {{/link-to}}
       </li>
     {{/each}}
   </ul>

</div>
{{outlet}}
